<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/russ.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Russ</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Russ, pseudonimo di Russell Vitale (Secaucus, 26 settembre 1992), è un rapper e produttore discografico statunitense.
    Russ è considerato un rapper DIY, ciò indica l'approccio indipendente dell'artista nella produzione dei propri brani. Infatti, la maggior parte dei suoi singoli e dei suoi album sono autoprodotti e sono interamente scritti, registrati, mixati e masterizzati da lui stesso. I suoi brani sono prevalentemente di genere R&B contemporaneo ma mantengono una forte impronta Hip Hop.</p>
   <h5><i>fonte: Wikipedia</i></h5>

   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/zoo.jpg">
    </ion-thumbnail>
    <ion-label>Zoo</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/wolf.jpg">
    </ion-thumbnail>
    <ion-label>There's Really a Wolf</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/brain-dead.jpg">
    </ion-thumbnail>
    <ion-label>Brain Dead</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UCiIETTq2It3OzW8_WYRPTyQ">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/russtheone/">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/russ/">Instagram</ion-button>

  </ion-content>
