<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/madame.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Madame</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Classe 2002, Vicenza, ha solo 17 anni e si chiama Francesca ma per molti è già conosciuta come Madame. Intorno a lei negli ultimi mesi si è creato una nube di hype che non si vedeva da tanto tempo; scoperta dagli Aracade Boyz esce a settembre 2018 il suo primo singolo Anna prodotto da Eiemgei; stessa produzione anche per Schiccherie il brano che l'ha portata al grande pubblico esce a dicembre 2018 e in poco tempo supera il milione e mezzo di views su Youtube; a giugno 2019 esce l'ultimo singolo dal titolo, 17.</p>
   <h5><i>fonte: Rockit.it</i></h5>

   <h1>Singoli</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/baby.jpg">
    </ion-thumbnail>
    <ion-label>Baby</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/promessa.jpg">
    </ion-thumbnail>
    <ion-label>La promessa dell'anno</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/17.jpg">
    </ion-thumbnail>
    <ion-label>17</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/sciccherie.jpg">
    </ion-thumbnail>
    <ion-label>Sciccherie</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UCh6_bHafGtjjRNsbFc3D90g">YouTube</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/sonolamadame/">Instagram</ion-button>

  </ion-content>
