<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/articolo-31.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Articolo 31</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Gli Articolo 31 sono un gruppo musicale Hip Hop italiano, formatosi a Milano nel 1990 e composto da J-Ax e DJ Jad. Hanno avuto un successo notevole sia in Italia che all'estero, riproponendo in italiano, soprattutto negli anni novanta, i caratteri distintivi del loro genere di allora, come il freestyle e il campionamento di noti ritornelli. Nel 1994 hanno fondato la Spaghetti Funk e dagli anni duemila, subito dopo aver pubblicato Greatest Hits, hanno svoltato verso sonorità più pop assumendo un cantato più melodico e perdendo parzialmente le sonorità hip hop.</p>

   <h5><i>fonte: Wikipedia</i></h5>

   <h1>Prossime Uscite</h1>
<ion-list>



</ion-list>
   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/italiano-medio.jpg">
    </ion-thumbnail>
    <ion-label>Italiano Medio</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/domani-smetto.jpg">
    </ion-thumbnail>
    <ion-label>Domani-Smetto</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/perche-si.jpg">
    </ion-thumbnail>
    <ion-label>Perchè si</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/nessuno.jpg">
    </ion-thumbnail>
    <ion-label>Nessuno</ion-label>
  </ion-item>

  <p></p>

   <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UCZQXf8xgkGWc3aed0GEFGBQ">YouTube</ion-button>
</ion-content>
