<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="artisti">
        <ion-icon name="musical-notes-outline"></ion-icon>
        <ion-label>Artisti</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="uscite">
        <ion-icon name="play-outline"></ion-icon>
        <ion-label>Uscite</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="articoli">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>Articoli</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="live">
        <ion-icon name="pricetag-outline"></ion-icon>
        <ion-label>Live</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>