<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/tiziano-ferro.jpeg">
    </ion-avatar>
    <ion-label>
      <h1>Tiziano Ferro</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Tiziano Ferro (Latina, 21 febbraio 1980) è un cantautore e produttore discografico italiano.
    Nel corso della sua carriera ha cantato anche in spagnolo, inglese, francese e portoghese. Ha venduto oltre 15 milioni di copie nel mondo, prevalentemente in Europa e in America Latina, e nella sua carriera ventennale ha ottenuto numerosi premi, candidature e riconoscimenti tra i più importanti a livello nazionale e internazionale.</p>
   <h5><i>fonte: Wikipedia</i></h5>

  <h1>Live</h1>
<ion-list>

  <ion-item href="https://www.ticketone.it/tiziano-ferro-milano-biglietti.html?affiliate=ITT&doc=artistPages%2Ftickets&fun=artist&action=tickets&key=1918864%2412159769&jumpIn=yTix&kuid=463860&from=erdetaila">
    <ion-label><h1><b>San Siro (Milano)</b></h1>
      <h3><b>Data:</b> sab, 06/06/20, 20.45</h3>
    <h4><b>Prezzo medio:</b> €40-€80</h4></ion-label>
  </ion-item> 

</ion-list>
   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/miracoli.jpg">
    </ion-thumbnail>
    <ion-label>Accetto Miracoli</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/vita.jpg">
    </ion-thumbnail>
    <ion-label>Il mestiere della vita</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/eta.jpg">
    </ion-thumbnail>
    <ion-label>Alla mia età</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UCKyMo95rgpADh-NTaUr5dQw">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/tizianoferro/">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/tizianoferro/">Instagram</ion-button>

  </ion-content>
