<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/tedua.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Tedua</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Tedua, pseudonimo di Mario Molinari (Genova, 21 febbraio 1994[1]), è un rapper italiano.
    Precedentemente noto come Incubo o Duate, è uno dei componenti del Wild Bandana, collettivo musicale di cui fanno parte anche Izi, Vaz Tè e Ill Rave.
    Nato a Genova, all'età di tre anni è stato affidato ad una famiglia, con la quale resterà per ben poco tempo; Molinari trascorre successivamente qualche anno con la nonna materna a Milano, per poi ritornare in età adolescenziale a Cogoleto, dove cresce entrando in contatto con quelli che saranno poi i membri dei Wild Bandana. Attraverso la scuola, all'età di 13 anni Mario incontra Vaz Tè, attraverso il quale conoscerà il compaesano Izi. I tre, cui poi si uniranno altri ragazzi, cominceranno a dedicarsi all'attività musicale, dandosi ben presto dei nomi d'arte: Molinari sceglierà Incubo, nominativo poi abbandonato in favore di Tedua.
  </p>

   <h5><i>fonte: Wikipedia</i></h5>

   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/mowgli.png">
    </ion-thumbnail>
    <ion-label>Mowgli</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/california.jpg">
    </ion-thumbnail>
    <ion-label>Orange County California</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UC_qUaJmf3cKqbHzgBPEh5GQ">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/teduaufficiale/">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/tedua_wildbandana/">Instagram</ion-button>

  </ion-content>
