<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/salmo.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Salmo</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Salmo, pseudonimo di Maurizio Pisciottu (Olbia, 29 giugno 1984), è un rapper e produttore discografico italiano.
    Salmo ha iniziato la sua carriera musicale all'età di 13 anni, incidendo le sue prime rime tra il 1997 e il 1998. Nel 1999 ha realizzato e pubblicato i demo Premeditazione e dolo con i rapper olbiesi Bigfoot e Scascio (con i quali formava il gruppo Premeditazione e Dolo), mentre nel 2004 ha pubblicato il primo demo da solista, intitolato Sotto pelle; l'anno successivo ha autoprodotto e pubblicato il secondo demo Mr. Antipatia
    Alla sua carriera da solista, Salmo ha affiancato anche alcuni progetti con diversi gruppi, a partire dal gruppo musicale rap metal Skasico, con i quali ha inciso e prodotto gli album Terapia (2004), 21 Grams (2006) e Orange Bloom (2008); nel 2008 invece ha collaborato con il gruppo hardcore punk To Ed Gein alla produzione di Toedgein (2008) e di Shell Shock (2011), mentre nel 2009 ha prodotto l'EP Merciful Bullets del gruppo stoner rock Three Pigs' Trip.</p>
   <h5><i>fonte: Wikipedia</i></h5>

  <h1>Live</h1>
<ion-list>

  <ion-item href="https://www.ticketone.it/salmo-milano-biglietti.html?affiliate=IGA&doc=artistPages%2Ftickets&fun=artist&action=tickets&key=2504002%2412394557&jumpIn=yTix&kuid=468113&from=erdetaila">
    <ion-label><h1><b>Stadio San Siro (Milano)</b></h1>
      <h3><b>Data:</b> dom, 14/06/20, 21.00</h3>
    <h4><b>Prezzo medio:</b> €40-€60</h4></ion-label>
  </ion-item> 

</ion-list>
   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/playlist.jpg">
    </ion-thumbnail>
    <ion-label>Playlist</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/hellvisback.jpg">
    </ion-thumbnail>
    <ion-label>Hellvisback</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/midnite.jpg">
    </ion-thumbnail>
    <ion-label>Midnite</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/USB.jpg">
    </ion-thumbnail>
    <ion-label>Death USB</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/island.jpg">
    </ion-thumbnail>
    <ion-label>The Island Chainsaw Massacre</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UCxPh2QJU5qTvOqxnOPTBskw">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/salmoofficial">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/lebonwski/">Instagram</ion-button>

  </ion-content>
