<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/ghali.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Ghali</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Nato a Milano da genitori tunisini, ha sempre vissuto nel capoluogo lombardo, trascorrendo buona parte della sua infanzia a Baggio, quartiere della periferia milanese.
    Ha iniziato ad avvicinarsi all'hip hop utilizzando lo pseudonimo Fobia, poi diventato Ghali Foh. Nel 2011 ha fondato i Troupe D'Elite, gruppo nel quale erano presenti anche il rapper Er Nyah (ora conosciuto come Ernia), la cantante Maite e il produttore Fonzie (ora conosciuto come Fawzi). Nello stesso anno riceve una chiamata dal rapper Gué Pequeno, che lo mette sotto contratto nella sua etichetta Tanta Roba. Con il tempo, si fa conoscere anche grazie a Fedez, accompagnandolo nel suo tour. L'anno successivo pubblica con il gruppo l'EP omonimo: la critica lo definisce come uno dei punti più bassi dell'hip hop italiano, il gruppo è considerato al limite del demenziale. Nel luglio del 2013 Ghali pubblica Leader Mixtape, collaborando con artisti quali Sfera Ebbasta, Maruego ed altri. Un anno dopo i Troupe D'Elite rescindono il contratto con la Tanta Roba e pubblicano l'album Il mio giorno preferito come artisti indipendenti, in download gratuito sulla piattaforma Honiro.</p>
   <h5><i>fonte: Wikipedia</i></h5>

  <h1>Live</h1>
<ion-list>

  <ion-item href="https://www.ticketone.it/ghali-milano-biglietti.html?affiliate=IGA&doc=artistPages%2Ftickets&fun=artist&action=tickets&key=2343191%2412693407&jumpIn=yTix&kuid=519737&from=erdetaila">
    <ion-label><h1><b>Fabrique (Milano)</b></h1>
      <h3><b>Data:</b> gio, 08/10/20, 21.00</h3>
    <h4><b>Prezzo medio:</b> €40</h4></ion-label>
  </ion-item> 

</ion-list>
   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/DNA.jpg">
    </ion-thumbnail>
    <ion-label>DNA</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/album.jpg">
    </ion-thumbnail>
    <ion-label>Album</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UCY5rq0soTIK6hPbn8kejgMg">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/GhaliOfficial">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/ghali/">Instagram</ion-button>

  </ion-content>
