<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/emis-killa.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Emis Killa</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Emis Killa, pseudonimo di Emiliano Rudolf Giambelli (Vimercate, 14 novembre 1989), è un rapper italiano.
    Nel 2007 Emis Killa si iscrive al concorso di freestyle Tecniche Perfette dove risulta vincitore. Successivamente ha firmato un contratto con l'etichetta discografica indipendente Blocco Recordz, con la quale ha pubblicato gli album Keta Music (2009), Champagne e spine (2010) e The Flow Clocker Vol. 1 (2011).
    Nel 2011 firma un contratto con la Carosello e il 19 dicembre dello stesso anno pubblica per il download digitale l'EP Il peggiore, la cui produzione artistica è curata da Big Fish. Nello stesso periodo Emis Killa cura un remix ufficiale di I Need a Dollar di Aloe Blacc, diffuso dalle stazioni radiofoniche italiane.</p>
   <h5><i>fonte: Wikipedia</i></h5>

   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/supereroe.jpg">
    </ion-thumbnail>
    <ion-label>Supereroe</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/terza-stagione.jpg">
    </ion-thumbnail>
    <ion-label>Terza Stagione</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/mercurio.jpg">
    </ion-thumbnail>
    <ion-label>Mercurio</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/erba-cattiva.jpg">
    </ion-thumbnail>
    <ion-label>L'erba cattiva</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/user/EmisKillaOfficial">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/emiskillaofficialpage">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/emis_killa/">Instagram</ion-button>

  </ion-content>
