<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/elodie.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Elodie</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Elodie Di Patrizi, conosciuta solo come Elodie (Roma, 3 maggio 1990), è una cantante italiana.

    Si è classificata seconda alla quindicesima edizione del talent show Amici di Maria De Filippi, vincendo il premio della critica Vodafone e il premio RTL 102.5.</p>
   <h5><i>fonte: Wikipedia</i></h5>

  <h1>Live</h1>
<ion-list>

  <ion-item href="https://www.ticketone.it/elodie-milano-biglietti.html?affiliate=IGA&doc=artistPages%2Ftickets&fun=artist&action=tickets&key=2675053%2412657129&jumpIn=yTix&kuid=531949&from=erdetaila">
    <ion-label ><h1><b>Santeria Toscana 31 (Milano)</b></h1>
      <h3><b>Data:</b> gio, 16/04/20, 21.30</h3>
    <h4><b>Prezzo medio:</b> €25</h4></ion-label>
  </ion-item> 

  <ion-item href="https://www.ticketone.it/elodie-roma-biglietti.html?affiliate=IGA&doc=artistPages%2Ftickets&fun=artist&action=tickets&key=2675053%2412657670&jumpIn=yTix&kuid=531949&from=erdetaila">
    <ion-label ><h1><b>Teatro Centrale (Roma)</b></h1>
      <h3><b>Data:</b> sab, 18/04/20, 21.00</h3>
    <h4><b>Prezzo medio:</b> €25</h4>
    <h4><b>Mancano:</b> </h4></ion-label>
  </ion-item> 

</ion-list>
   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/this-is-elodie.jpg">
    </ion-thumbnail>
    <ion-label>This Is Elodie</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/un-altra-vita.jpg">
    </ion-thumbnail>
    <ion-label>Un'altra vita</ion-label>
  </ion-item>

  <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UC9C9A0BYvdGO_I1IwctjWGg">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/elodiedipatrizi/">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/elodie/">Instagram</ion-button>
</ion-content>
