<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/jaden-smith.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Jaden Smith</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Jaden Christopher Syre Smith (Malibù, 8 luglio 1998) è un attore, rapper, ballerino, cantante e modello statunitense.

    È il figlio di Jada Pinkett Smith e Will Smith. Il suo primo ruolo in un film è stato con suo padre nel 2006 con La ricerca della felicità. Ha anche recitato nel remake Ultimatum alla Terra del 2008 e nel remake del 2010 di The Karate Kid, e nel film del 2013 After Earth con suo padre.
    
    Dopo le critiche del film After Earth, Smith si è distanziato dalla recitazione e dall'industria cinematografica, decidendo invece di concentrarsi sulla musica, rilasciando Cool Tape Vol. 2 a novembre 2014 e dopo uno sforzo lavorativo di tre anni ha pubblicato il suo primo album in studio, Syre, pubblicato nel 2017 e successivamente Syre: The Electric Album nel 2018.</p>

   <h5><i>fonte: Wikipedia</i></h5>

   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/erys.jpg">
    </ion-thumbnail>
    <ion-label>Erys</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/syre.png">
    </ion-thumbnail>
    <ion-label>Syre</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UC-w7D3GsJecTHA8Sjcyn6sQ">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/officialjaden">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/c.syresmith/">Instagram</ion-button>

  </ion-content>
