.scrolling {
	overflow: hidden;
	margin-left: 0px;
    -webkit-animation-name: title_scroller;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-direction: normal;
    -webkit-animation-iteration-count:infinite; 
    -webkit-animation-fill-mode: both;
    -webkit-transition-timing-function: linear;
    //animation: 3s linear 1s infinite running slidein;
    animation-name: title_scroller;
    animation-duration: 9s;
    animation-delay: 4s;
    animation-direction: normal;
   	animation-iteration-count: infinite;
    animation-fill-mode: both;
    transition-timing-function: linear;
}

@keyframes title_scroller {
    0% { margin-left: 0; } 
    100% { margin-left: -200px; }
}

@-webkit-keyframes title_scroller { 
    0% { margin-left: 0; } 
    100% { margin-left: -200px; }
} 