<ion-header>
  <ion-toolbar>
    <ion-nav></ion-nav>
     <!-- MENU
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>-->
       <ion-title>Artisti</ion-title>
  </ion-toolbar>
  </ion-header><ion-header>
</ion-header>
<ion-content>

  <ion-list>

    <ion-list-header  lines="full">
      A
    </ion-list-header>

    <ion-item routerLink="achillelauro">
      <ion-avatar slot="start">
        <img src="../assets/artisti/achille-lauro.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Achille Lauro</h2>
      </ion-label>
    </ion-item>

    <ion-item routerLink="articolo31">
      <ion-avatar slot="start">
        <img src="../assets/artisti/articolo-31.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Articolo 31</h2>
      </ion-label>
    </ion-item>

    <ion-list-header  lines="full">
      D
    </ion-list-header>

    <ion-item routerLink="davidecalandra">
      <ion-avatar slot="start">
        <img src="../assets/artisti/davide-calandra.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Davide Calandra</h2>
      </ion-label>
    </ion-item>

    <ion-list-header  lines="full">
      E
    </ion-list-header>

    <ion-item routerLink="elodie">
      <ion-avatar slot="start">
        <img src="../assets/artisti/elodie.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Elodie</h2>
      </ion-label>
    </ion-item>

    <ion-item routerLink="emiskilla">
      <ion-avatar slot="start">
        <img src="../assets/artisti/emis-killa.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Emis Killa</h2>
      </ion-label>
    </ion-item>
    
    <ion-list-header  lines="full">
      F
    </ion-list-header>

    <ion-item routerLink="fedez">
      <ion-avatar slot="start">
        <img src="../assets/artisti/fedez.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Fedez</h2>
      </ion-label>
    </ion-item>

    <ion-item routerLink="francescamichelin">
      <ion-avatar slot="start">
        <img src="../assets/artisti/francesca-michelin.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Francesca Michelin</h2>
      </ion-label>
    </ion-item>
    
    <ion-list-header  lines="full">
      G
    </ion-list-header>

    <ion-item routerLink="ghali">
      <ion-avatar slot="start">
        <img src="../assets/artisti/ghali.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Ghali</h2>
      </ion-label>
    </ion-item>

    <ion-list-header lines="full">
      J
    </ion-list-header>

    <ion-item routerLink="jaden-smith">
      <ion-avatar slot="start">
        <img src="../assets/artisti/jaden-smith.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Jaden Smith</h2>
      </ion-label>
    </ion-item>

    <ion-list-header lines="full">
      M
    </ion-list-header>

    <ion-item routerLink="madame">
      <ion-avatar slot="start">
        <img src="../assets/artisti/madame.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Madame</h2>
      </ion-label>
    </ion-item>

    <ion-item routerLink="marracash">
      <ion-avatar slot="start">
        <img src="../assets/artisti/marracash.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Marracash</h2>
      </ion-label>
    </ion-item>

    <ion-list-header lines="full">
      N
    </ion-list-header>

    <ion-item routerLink="nek">
      <ion-avatar slot="start">
        <img src="../assets/artisti/nek.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Nek</h2>
      </ion-label>
    </ion-item>

    <ion-item routerLink="nitro">
      <ion-avatar slot="start">
        <img src="../assets/artisti/nitro.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Nitro</h2>
      </ion-label>
    </ion-item>

    <ion-list-header lines="full">
      R
    </ion-list-header>

    <ion-item routerLink="russ">
      <ion-avatar slot="start">
        <img src="../assets/artisti/russ.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Russ</h2>
      </ion-label>
    </ion-item>

    <ion-list-header lines="full">
      S
    </ion-list-header>

    <ion-item routerLink="salmo">
      <ion-avatar slot="start">
        <img src="../assets/artisti/salmo.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Salmo</h2>
      </ion-label>
    </ion-item>

    <ion-item routerLink="sferaebbasta">
      <ion-avatar slot="start">
        <img src="../assets/artisti/sfera-ebbasta.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Sfera Ebbasta</h2>
      </ion-label>
    </ion-item>

    <ion-list-header lines="full">
      T
    </ion-list-header>

    <ion-item routerLink="tedua">
      <ion-avatar slot="start">
        <img src="../assets/artisti/tedua.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Tedua</h2>
      </ion-label>
    </ion-item>

    <ion-item routerLink="tizianoferro">
      <ion-avatar slot="start">
        <img src="../assets/artisti/tiziano-ferro.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Tiziano Ferro</h2>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
