<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/nek.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Nek</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Nek, pseudonimo di Filippo Neviani (Sassuolo, 6 gennaio 1972), è un cantautore e polistrumentista italiano.
    Secondo i dati certificati dalla Federazione Industria Musicale Italiana, Nek ha venduto nel corso della sua carriera oltre 10 milioni di dischi in tutto il mondo.L'esordio in campo musicale di Nek avvenne nel 1986, quando, insieme a Gianluca Vaccari, formò il duo country Winchester. Nel 1989 divenne cantante e bassista del gruppo musicale rock White Lady, nel quale compose i suoi primi brani. Tale gruppo nacque inizialmente come cover band dei Police, per poi divenire una formazione con un proprio repertorio personale, tanto da incidere il demo White Lady – The Demo.
    Nel 1991 Nek abbandonò il gruppo, concentrandosi sulla propria carriera da solista; nello stesso anno partecipò al Festival di Castrocaro presentando il brano Io ti vorrei e arrivando fino alla sera finale, venendo battuto da Bracco Di Graci. Nonostante ciò, il cantautore firmò un contratto con l'etichetta discografica Fonit Cetra per la realizzazione di tre album.</p>
  <h1>Live</h1>
<ion-list>

  <ion-item href="https://www.ticketone.it/nek-carmagnola-biglietti.html?affiliate=IGA&doc=artistPages%2Ftickets&fun=artist&action=tickets&key=2731649%2412856162&jumpIn=yTix&kuid=461934&from=erdetaila">
    <ion-label><h1><b>Piazza Italia (Carmagnola)</b></h1>
      <h3><b>Data:</b> dom, 30/08/20, 21.30</h3>
    <h4><b>Prezzo medio:</b> €30</h4></ion-label>
  </ion-item> 

</ion-list>
   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/unici.jpg">
    </ion-thumbnail>
    <ion-label>Unici</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/una-parte-di-me.jpg">
    </ion-thumbnail>
    <ion-label>Pour l'amour</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/cose-difendere.jpg">
    </ion-thumbnail>
    <ion-label>Le cose da difendere</ion-label>
  </ion-item>

   <ion-button size="small" href="https://www.facebook.com/NekOfficial/">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/nekfilipponeviani/">Instagram</ion-button>

  </ion-content>
