<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/francesca-michelin.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Francesca Michelin</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Francesca Michielin (Bassano del Grappa, 25 febbraio 1995) è una cantautrice e polistrumentista italiana.

    Ha raggiunto la notorietà nel 2011 in seguito alla vittoria della quinta edizione del talent show X Factor.
    
    Durante la sua carriera la cantante ha vinto un Premio Videoclip Italiano, tre Wind Music Awards e un Premio Lunezia, oltre ad essersi classificata seconda al Festival di Sanremo 2016 ed aver rappresentato l'Italia all'Eurovision Song Contest 2016.</p>
   <h5><i>fonte: Wikipedia</i></h5>

   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/stato-di-natura.png">
    </ion-thumbnail>
    <ion-label>Feat (stato di natura)</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/2640.jpg">
    </ion-thumbnail>
    <ion-label>2640</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/di20.jpeg">
    </ion-thumbnail>
    <ion-label>di20</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/riflessi-di-me.jpg">
    </ion-thumbnail>
    <ion-label>Riflessi di me</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UCQr3H3P-nkrlijh7wVMHVJQ">YouTube</ion-button>
   <ion-button size="small" href="https://it-it.facebook.com/francescacheeks/">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/francesca_michielin/">Instagram</ion-button>

  </ion-content>
