<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/marracash.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Marracash</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Marracash, pseudonimo di Fabio Bartolo Rizzo[3] (Nicosia, 22 maggio 1979), è un rapper e produttore discografico italiano.
    Ha esordito ufficialmente nel 2005 con il mixtape autoprodotto Roccia Music I, il quale ha visto la partecipazione del collettivo Dogo Gang e di altri artisti appartenenti alla scena hip hop italiana. Il mixtape ha ottenuto un riscontro significativo nell'underground e lo ha portato alla firma di un contratto discografico con la Universal Music Group, con la quale nel 2008 ha pubblicato il primo album solista, l'omonimo Marracash.</p>
   <h5><i>fonte: Wikipedia</i></h5>

  <h1>Live</h1>
<ion-list>

  <ion-item href="https://www.ticketone.it/marracash-biglietti.html?affiliate=ITT&doc=artistPages%2Ftickets&fun=artist&action=tickets&erid=2620248&kuid=464447">
    <ion-label><h1><b>Persona Tour (Tutta Italia)</b></h1>
      <h3><b>Data:</b> 28/03/20 - 01/11/20</h3>
    <h4><b>Prezzo medio:</b> €25-€40</h4></ion-label>
  </ion-item> 

</ion-list>
   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/persona.jpg">
    </ion-thumbnail>
    <ion-label>Persona</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/status.jpg">
    </ion-thumbnail>
    <ion-label>Status</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/king.jpg">
    </ion-thumbnail>
    <ion-label>King del Rap</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/tutto-bene.png">
    </ion-thumbnail>
    <ion-label>Fino a qui tutto bene</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/marracash.jpg">
    </ion-thumbnail>
    <ion-label>Marracash</ion-label>
  </ion-item>

   <h1>Singoli</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/ali.jpg">
    </ion-thumbnail>
    <ion-label>NEON - Le Ali (feat. Elisa)</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UC7-W9R7Rb_6gk5zEcgFcdLg">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/Marracash">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/kingmarracash/">Instagram</ion-button>

  </ion-content>
