<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/achille-lauro.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Achille Lauro</h1>
    </ion-label>
  </ion-item>

  <h1>Storia</h1>
  <p>Achille Lauro, pseudonimo di Lauro De Marinis (Verona, 11 luglio 1990), è un rapper e cantante italiano.</p>

   <p>Noto per i suoi lavori nell'Hip Hop, ha preso parte alla 69ª edizione del Festival di Sanremo con il brano "Rolls Royce" e alla 70ª edizione con il brano "Me ne frego".</p>

   <h5><i>fonte: Wikipedia</i></h5>

  <h1>Live</h1>
<ion-list>
  <ion-item nav-clear href="https://www.ticketone.it/achille-lauro-milano-biglietti.html?affiliate=ITT&doc=artistPages%2Ftickets&fun=artist&action=tickets&key=2601595%2412793033&jumpIn=yTix&kuid=532635&from=erdetaila">
    <ion-label><h1><b>Lorenzini District (Milano)</b></h1>
      <h3><b>Data:</b> sab, 17/10/20, 21.00</h3>
    <h4><b>Prezzo medio:</b> €40</h4></ion-label>
  </ion-item> 

</ion-list>
   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/1969.jpg">
    </ion-thumbnail>
    <ion-label>1969</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/pour-lamour.jpg">
    </ion-thumbnail>
    <ion-label>Pour l'amour</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/ragazzi-madre.jpg">
    </ion-thumbnail>
    <ion-label>Ragazzi Madre</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/dio-ce.jpg">
    </ion-thumbnail>
    <ion-label>Dio c'è</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/achille-idol-immortale.jpeg">
    </ion-thumbnail>
    <ion-label>Achille Idol Immortale</ion-label>
  </ion-item>

   <h1>Singoli</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/me-ne-frego.jpg">
    </ion-thumbnail>
    <ion-label>Me ne frego</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/channel/UCBn0LqkY6sTa1iw-NQOGEbA">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/AchilleL/">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/achilleidol/">Instagram</ion-button>

  </ion-content>
