<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Indietro" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/fedez.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Fedez</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Fedez è nato a Milano il 15 ottobre 1989 ma è cresciuto a Buccinasco. La sua famiglia è originaria di Castel Lagopesole, provincia di Potenza e ha dichiarato che tra i suoi avi figura il brigante Ninco Nanco. Durante l'adolescenza ha frequentato il liceo artistico, abbandonando tuttavia gli studi al quarto anno per focalizzarsi sulla musica.
    Nel 2007 ha realizzato il suo primo EP Pat-a-Cake, mentre tre anni più tardi ha pubblicato il suo primo mixtape BCPT, a cui hanno collaborato artisti appartenenti alla scena rap italiana come Emis Killa, G. Soave e Maxi B. Nel 2010 ha inoltre realizzato e pubblicato il secondo EP Diss-Agio, in collaborazione con Vincenzo da Via Anfossi e Dinamite e prodotto da JT.</p>
   <h5><i>fonte: Wikipedia</i></h5>

   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/paranoia.jpg">
    </ion-thumbnail>
    <ion-label>Paranoia Airlines</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/pop-hoolista.jpg">
    </ion-thumbnail>
    <ion-label>Pop-hoolista</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/signor.jpg">
    </ion-thumbnail>
    <ion-label>Sig. Brainwash - L'arte di accontentare</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/venduto.jpg">
    </ion-thumbnail>
    <ion-label>Il mio primo disco da venduto</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/penisola.jpg">
    </ion-thumbnail>
    <ion-label>Penisola che non c'è</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/user/FedezChanneL">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/fedezofficial/">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/fedez/">Instagram</ion-button>

  </ion-content>
