<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-nav>

    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/artisti/sfera-ebbasta.jpg">
    </ion-avatar>
    <ion-label>
      <h1>Sfera Ebbasta</h1>
    </ion-label>
  </ion-item>
  <h1>Storia</h1>
  <p>Sfera Ebbasta, pseudonimo di Gionata Boschetti (Sesto San Giovanni, 7 dicembre 1992), è un rapper italiano.
    È salito alla ribalta grazie alla pubblicazione dell'album XDVR, inciso con la collaborazione del produttore discografico Charlie Charles, ottenendo un buon successo in Italia. Tale successo si è replicato con le uscite di Sfera Ebbasta (2016) e Rockstar (2018), il secondo dei quali ha permesso all'artista di divenire il primo italiano ad entrare nella top 100 mondiale della piattaforma di streaming Spotify.</p>
    
   <h5><i>fonte: Wikipedia</i></h5>

   <h1>Album</h1>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/rockstar.jpg">
    </ion-thumbnail>
    <ion-label>Rockstar</ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/sfera-ebbasta.png">
    </ion-thumbnail>
    <ion-label>Sfera Ebbasta</ion-label>
  </ion-item>

   <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/album/XDVR.jpg">
    </ion-thumbnail>
    <ion-label>XDVR</ion-label>
  </ion-item>

   <ion-button size="small" color="danger" href="https://www.youtube.com/user/Billionheadz">YouTube</ion-button>
   <ion-button size="small" href="https://www.facebook.com/sferaebbastaofficial/">Facebook</ion-button>
   <ion-button size="small" color="tertiary" href="https://www.instagram.com/sferaebbasta/">Instagram</ion-button>

  </ion-content>
